<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <h2>Record Video</h2>
    <video id="recordVideo" width="640" height="480" autoplay></video>
    <button id="start">Start Recording</button>
    <button id="stop">Stop Recording</button>
    <video id="playback" width="640" height="480" controls></video>

    <script src="{{ url_for('static', filename='scripts/video_record.js') }}"></script>
</body>
</html>
